.navbar {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: rgb(255, 255, 255);
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.nav-transparent {
  background-color: transparent;

}
