VIEW DE TESTE

<!-- app/views/movies/index.html.erb -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="movies">
        <% if @products.any? %>
          <% @products.each do |product| %>
            <h4><%= link_to product.category %></h4>
          <% end %>
        <% else %>
          <em>Sorry, no products found.</em>
        <% end %>
      </div>
    </div>
  </div>
</div>
