<div class="container container-edit">
  <h1 class="text-center">New product</h1>
  <%= render '/shared/form', product: @product %>

  <%= link_to "Cancel", products_path, class: "cancel-link"%>
</div>
