<div class="container container-edit">
  <h1 class="text-center">Sell new product:</h1>
  <%= render 'form', product: @product %>

  <%= link_to 'Cancel', products_path, class: 'btn btn-secondary'%>
</div>
