<div>
  <% @products.each do |product| %>
  <%= link_to product_path(product) do %>
    <div class="card">
      <h1><%= product.name %></h1>
      <h3><%= product.price %></h3>
    </div>
    <% end %>
  <% end %>

</div>
