// Import page-specific CSS files here.
@import "home";

.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 30px;
  z-index: 1;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  a h1{
    text-decoration: none;
  }
}

.card-img-top {
  width: 100%;
}

.card-body {
  a {
    text-decoration: none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.pack-section{
  max-width: 960px;
  margin: 0 auto;
  padding: 6% 2%;
}
.pack-grig{
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;

}
.pack-grig:after{
  clear: both;
}
.pack-grig:after,xop-box:before{
  content: '';
  display: table;
}
.pack-grig li{
  width: 320px;
  height: 328px;
  display: inline-block;
  margin: 20px;
}
.pack-box{
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 4px 2px 6px #000;
  border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out;
  -webkit-transform: 0.3s ease-in-out;
   -moz-transition: 0.3s ease-in-out;
  -moz-transform: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: 0.3s ease-in-out;
}
.pack-box:hover{
  transform: scale(1.05);
  box-shadow: 6px 3px 10px #000;
}

.pack-info{
  position: absolute;
  width: inherit;
  height: inherit;
}
.pack-info h3{
  font-family: sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 42px;
  margin: 150px 0 0;
  line-height: 1;
}
.pack-info p{
  font-family: sans-serif;
  color: #fff;
}
.pack-info button{
	cursor: pointer;
	width: 100px;
  height: 35px;
  color: #fff;
  font-size: 16px;
  background: green;
  border: none;
  border-radius: 13px;
  box-shadow: 0 2px 3px #000;
  outline: none;

}
.pack-info button:hover{
  background: #ff5349;
  font-size: 20px;
  box-shadow: 0 2px 3px #000;
  width: 120px;
}
