* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
/*   border: 1px solid black; */
  margin: 0;
  padding: 0;
}

.payment-body {
  margin: 0;
  // padding: 10% 0;
  position: relative;
  // background: #34495e;
  display: flex;
  justify-content: center;
  animation-fill-mode: forwards;

}


label {
  display: block;
}
/* Model Container */

.model {
  width: 900px;
  height: 700px;
  background: white;
/*   font-size: 0; */
  color: white;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.card-img-sale {
  // height: 100%;
  // width: 100%;
  object-fit: cover;

}



@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.room {
  width: 50%;
  height: 100%;
  // background: url(https://images.unsplash.com/photo-1470274038469-958113db2384?auto=format&fit=crop&w=1875&q=80) no-repeat center center;
  background-size: cover;
  display: inline-block;
  background-position: center;
  vertical-align: top;
  position: relative;
  border-radius: 15px 0px 0px 15px;
}



.text-cover {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 0px 0px 0px 15px;
}

.text-cover > * {
  margin: 10px 0;
}

.text-cover h1 {
  font-size: 1.8rem;
}

.text-cover .price {
  color: #e67e22;
}

.text-cover .price span {
  font-size: 1.4rem;
  font-weight: 700;
}

.payment {
  width: 50%;
  height: 100%;
  color: #34495e;
  display: inline-block;
}

.receipt-box {
  padding: 0 20px;
  border-bottom: 1px solid #34495e;
}


.payment-info h3 {
  margin: 2rem 0;
}

.receipt-box h3 {
  padding: 20px 0;

}
.payment-info {
  padding: 0px 20px;

}


input[type=text]{
    width: 100%;
    padding: 8px 10px 10px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table td {
  font-size: 0.8rem;
  font-style: italic;
  padding: .25rem;
  vertical-align: top;

}


.table td:nth-child(2) {
  text-align: right;
}
