<center><h1>Todas as compras do usuário <strong><%= current_user.first_name %></strong></h1></center>

<div class="container">


  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>Yay!</strong> 🎉 you successfully signed in to our service.</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>

  <div>
    <% @sales.order('created_at DESC').each do |sale| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= sale.product.name %></h2>
          <p><strong>R$ <%= sale.product.price %>,00</strong></p>

          <p><%= link_to "adicionar review (no futuro)"  %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
